lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store
.vscode

pids
logs
results

npm-debug.log
node_modules

utils/cert/
utils/config.js

userPictures
public/bower_components
backupUserPhotos
App_Data/